.fancy-btn{
    width: 80px;
    height: 30px;    
    background-color: darkslateblue;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 15px;
    border: 1px solid whitesmoke;
}
.btn-back{
    position:relative;
    top:55%;
    left:30%;
    width: 250px;
    height: 30px;    
    background-color: darkslateblue;
    color:white;
    padding:5px;
    border-radius: 15px;
    border: 1px solid whitesmoke;
}
.btn-link{
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    transition-delay: 0.3s;
}
.fancy-btn:hover{
    background-color: whitesmoke;
    border: 1px solid darkslateblue;    
}
.btn-link:hover{
    color: darkslateblue;
}
.position-g{
    position: relative;
    top: 400px;
    left: 780px;
}

.boardplayer{  
    width: 100%;
    height: 100vh;  
    background-image: url('./img/original.jpg');
    background-size: cover;
    z-index: -10000;  
  }

  .instructions{
      width: 200px;
      color: whitesmoke;
      font-weight: bold;
      font-size: 20px;
      padding: 5px;
      background-color: darkslateblue;
      border-radius: 15px;
      border: 1px solid whitesmoke;
      position: relative;
      top: 180px;
      left: 30px;
  }
  .instructions h4{
      background-color: transparent;
  }
  .player-wallet{
    width: 200px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    background-color: darkslateblue;
    border-radius: 15px;
    border: 1px solid whitesmoke;
    position: relative;
    top: 340px;
    left: 380px;
}
.player-wallet h4{
    background-color: transparent;
}

  .imgplayer1{
    position:absolute;
    top:200px;
    width: 100px;
    height: auto;
    background: transparent;
    animation-name: move;
    animation-duration: 28s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  @keyframes move {
    0%{
      top: 150px; left: 0px;transform: rotatez(-40deg);
    }    
    14%{
        top:110px; left: 110px;transform: rotateZ(0deg);
    }
   
    17%{
        left: 180px;
    }
    19%{
        transform: translateZ(60deg);
    }
    21%{
        top: 170px; left: 280px;
    }
    24%{
        left: 330px;
    }
    25%{
        top: 190px; left: 350px;
    }
    27%{
        left: 370px;    
    }
    29%{
        left: 410px; top: 170px;
    }
    31%{
        transform: translateZ(190deg);
    }
    33%{
        left: 470px; top:200px;
    }
    36%{
        top:280px;    
    }
    38%{
        left:580px;
    }
    40%{
        top:220px; left:620px;
    }
    45%{
        left:700px;
    }
    47%{
        top:250px;
    }
    49%{
        left:750px; top:260px;
    }
    51%{
        left:790px;
    }
    58%{
        top:290px; left:800px;
    }
    62%{
        left: 860px;top:310px;
    }
    65%{
        top:280px; left: 900px;;
    }
    70%{
        top:260px;left:920px;
    }
    80%{
        left:1000px; top:250px;
    }
    85%{
        transform: translateZ(-30deg);
    }
    90%{
        left:1050px; top:190px;
    }
    95%{
        left:1100px; top:170px;
    }
    100%{
        left:1130px;
    }
   
    
  }